<div class="container">

    <div class="jumbotron">
        <h1>Order Your Burger </h1>
        <p>Our Menu is Digitally Delicious!</p>
        <br>
        <h2>Select a Burger or Sandwich</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order A Fresh Burger</label>
                    {{!-- <input type="text" id="newburger" name="burger"> --}}
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Sandwich</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="Monster Midway Burger">Monster Midway Burger (dbl meat/dbl bacon/ dbl cheese)
                        </option>
                        <option value="Bacon Cheese-Burger Double Deluxe">Bacon Cheese-Burger Double Deluxe</option>
                        <option value="BBQ Burger Death Dog">BBQ Burger Death Dog</option>
                        <option value="Hamburger Mayo Only">Hamburger Mayo Only</option>
                        <option value="Bacon Burger Double Deluxe">Bacon Burger Double Deluxe</option>
                        <option value="Impossible Burger">Impossible Burger</option>
                        <option value="Spicy Chicken">Spicy Chicken Sandwich</option>
                        <option value="Chicken Club">Chicken Club</option>
                        <option value="Philly Steak and Cheese">Philly Steak and Cheese Sandwich</option>
                    </select>

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Burger is ready to be Devoured</strong>
                    <p>Eat-Da-Burger, Enjoy!</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Burger Wall Hall of Fame</strong>
                    <p>Eaten Burgers NOM-NOM</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->